{% extends "template.html" %}
{% block content %}
<title>Tweet2777</title>
<h2>Tweet Table</h2>
<button id="add-tweet" type="button" class="btn btn-primary">Add New</button>
<hr>
<div id="tweet-table"></div>
<script>
  // ========= Tweet Table ========== //
  var userdata  = {{users|tojson}};
  var tweetdata  = {{tweets|tojson}};
  var tweettable = new Tabulator("#tweet-table", {
    //height: 400,
    data: tweetdata, 
    layout: "fitColumns", 
    initialSort: [{column: "created", dir: "desc"}],
    headerSort: false,
    dataTree: true,
    dataTreeSort: false,
    dataTreeStartExpanded: true,
    dataTreeElementColumn: "tweet",
    columns:[ 
      {title:"ID", field:"id", width:80, visible:false},
      {title:"Tweet", field:"tweet", formatter:"textarea", editor:"textarea", editable:function(cell){
        return cell.getData()["flag_tweet"]; // editable if "flag_tweet"
      }},
      {title:"User", field:"userid", width:200},
      {formatter:function(cell){ // 送信ボタン
          if(cell.getData()["flag_tweet"]) {
            return "<i class='fa fa-paper-plane'></i>";
          } else {
            return "<i class='fa fa-edit'></i>";
          }
        }, 
        width:50, 
        hozAlign:"center", 
        cellClick:function(e, cell){
          if(cell.getData()["flag_tweet"]) {
            updateTheRow("Tweet", cell.getRow(), tweettable); // ここでDBへ新規追加
          } else {
            let row = cell.getRow();
            row.update({"flag_tweet": true});
            row.reformat();
            row.getCell("tweet").edit();
          }
      }},
      {formatter:function(cell){ // 返信ボタン
          if(cell.getData()["flag_tweet"] || cell.getRow().getTreeParent()) {
            return ""; // ツイート編集中 or 親がいる
          } else {
            return "<i class='fa fa-reply'></i>";
          }
        }, 
        width:40, 
        hozAlign:"center", 
        cellClick:function(e, cell){
          insertNewTweet(tweettable, cell.getRow());
      }},
      {formatter:function(cell){ // いいねボタン
          if(cell.getData()["flag_tweet"]) {
            return "";
          } else {
            return "<i class='fa fa-thumbs-up'></i>";
          }
        }, 
        width:40, 
        hozAlign:"center", 
        cellClick:function(e, cell){
          alert("いいね");
      }},
      {title:"Time", field:"created", width:180},
    ],
  });
  $("#add-tweet").on("click", function(){
    insertNewTweet(tweettable, null);
  });
  $("#del-tweet").on("click", function(){
    //deleteData("Tweet", tweettable.getSelectedRows()[0].getData(), tweettable);
  });
  function insertNewTweet(table, row){
    // ここでは行を追加するだけ。DBには登録しない
    if (row == null){
      table.addRow({"flag_tweet": true}, true, 0); // insert row next to the "index"
      let focus_row = table.getRowFromPosition(0);
      focus_row.reformat();
      focus_row.getCell("tweet").edit(); // focus
    } else {
      let rowdata = row.getData();
      row.addTreeChild({"flag_tweet": true, "toid": rowdata["id"]}, false); // 一番うしろの子供として追加
      setTimeout(row.treeExpand(), 1000);
      let children = row.getTreeChildren()
      let focus_row = children[children.length - 1]
      focus_row.reformat();
      focus_row.getCell("tweet").edit(); // focus
    }
  }
  function updateTheRow(modelname, row, table) {
    // 行を更新してDBへ登録。
    let ajax_data = {};
    ajax_data = Object.assign({modelname: modelname, flag_addupd: 1}, row.getData());
    $.ajax({
      url: "update-data",
      type: "POST",
      data: ajax_data,
      timeout: 5000,
    })
    .done(function(data){
      let upd_data = data["updated_data"];
      upd_data["flag_tweet"] = false;
      row.update(upd_data); // "_children"フィールドは帰ってこないけど消えないはず
      row.reformat();
      table.setSort("created", "desc");
      //alert("Success");
    })
    .fail(function(){
      alert("Failed");
    })
  }
  function deleteData(modelname, deldata, table) {
    let del_id = deldata["id"];
    let ajax_data = {modelname: modelname, id: del_id, flag_delete: 1};
    $.ajax({
      url: "update-data",
      type: "POST",
      data: ajax_data,
      timeout: 5000,
    })
    .done(function(data){
      table.deleteRow(del_id);
      //alert("Success");
    })
    .fail(function(){
      alert("Failed");
    })
  }
  window.onload = function(){
    //insertNewTweet(tweettable, null); // insert new tweet top of the table
  }
</script>
{% endblock %}
